.ex-1-square {
    transition: 2s;
}

.ex-1-square:hover {
    background: red;
}

.ex-2-square {
    transition: 2s;
}

.ex-2-square:active {
    width: 100% ;
}

.ex-3-square {
    transition: 2s;
}

.ex-3-square:hover {
    border-radius: 100%;
}

.ex-4-square {
    transition: 2s;
}

.ex-4-square:active  {
    width: 0%;
}

.ex-5-square {
    transition: 2s;
}

.ex-5-square:hover {
    width: 100px;
    height: 100px;
}

.ex-5-square:active {
    width: 0px;
    height: 0px;
}

.ex-6-img {
    transition: 0s;
}

.ex-6-img:hover {
    filter: grayscale(100%);
}

.ex-7-img {
    transition: 2s;
}

.ex-7-img:hover {
    filter: opacity(50%);
    filter: saturate(100%);
}

.ex-8-img {
    transition: 2s;
}

.ex-8-img:hover {
    filter: grayscale(50%);
    filter:drop-shadow(100%);
    border-radius: 3rem;
}

.ex-9-img {
    transition: 2s;
}

.ex-9-img:hover {
    filter: grayscale(100%);
    filter:saturate(50%);
    border-radius: 5rem;
    width: 750px;
    height: 750px;
}

.ex-10-icon {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(1turn);
    }
}

.ex-11-icon:hover {
    animation: spin2 2s linear;
}

@keyframes spin2 {
    0% {
        transform: rotate(0);
    }
    80% {
        transform: rotate(300deg);
    }
    100% {
        transform: rotate(0);
    }
}

.ex-12-button:hover .ex-12-top-white{
    animation: spin3 2s linear;
}

@keyframes spin3 {
    0% {
        left: 0%;
    }
    50% {
        left: calc(100% - 60px);
    }
    100% {
        left: 0%;
    }
}

.ex-12-button:hover .ex-12-bottom-white{
    animation: spin4 2s linear;
}

@keyframes spin4 {
    0% {
        right: 0%;
    }
    50% {
        right: calc(100% - 60px);
    }
    100% {
        right: 0%;
    }
}

.ex-13-button:hover .ex-13-top-white{
    animation: spin5 2s linear;
}

@keyframes spin5 {
    0% {
        left: 0%;
        top: -10px;
    }
    25% {
        left: calc(100% - 30px);
        top: -10px;
    }
    50% {
        left: calc(100% - 30px);
        top: 100%;
    }
    75%{
        left: 0px;
        top: -10px;
    }
    100% {
        left: 10%;
        top: -10px;
    }
}

.ex-13-button:hover .ex-13-bottom-white{
    animation: spin6 2s linear;
}

@keyframes spin6 {
    0% {
        right: 10%;
        bottom: -10px;
        
    }
    25% {
        right: calc(100% - 30px);
        bottom: -10px;
    }
    50% {
        right: calc(100% - 60px);
        bottom: 100%;
    }
    75% {
        right: 10px;
        bottom: 100%;
    }
    100% {
        right: 20%;
        bottom: -10px;
    }
}
